

body {
    font-family : Comic Sans MS ;
    background : lightblue ;
}

h3 {
    margin-bottom : 0 ;
}

.Logo {
    display : block ;
    height : auto ;
    width : 100% ;
}

.Footer {
    font-size : 11 ;
    color : #5785cc ;
}
